<p> <%= link_to "Wróć do wskaźników", ato_indicators_path %> </p>


<%= form_for @ato_indicator do |f| %>
<table style="font-size: 14px">
  <tr>
    <td>
      <% f.label :year %> Rok
    </td>
    <td>
      <%= f.text_field :year %>
    </td> 
  </tr>
   <tr>
    <td> Miesiąc</td>
    <td>
      <%= f.radio_button(:month, "styczen") %>
      <%= f.label(:month, "styczen") %>
      <%= f.radio_button(:month, "luty") %>
      <%= f.label(:month, "luty") %>
      <%= f.radio_button(:month, "marzec") %>
      <%= f.label(:month, "marzec") %>
      <%= f.radio_button(:month, "kwiecien") %>
      <%= f.label(:month, "kwiecien") %>
      <%= f.radio_button(:month, "maj") %>
      <%= f.label(:month, "maj") %>
      <%= f.radio_button(:month, "czerwiec") %>
      <%= f.label(:month, "czerwiec") %>
      
      <br>
      <%= f.radio_button(:month, "lipiec") %>
      <%= f.label(:month, "lipiec") %>
      <%= f.radio_button(:month, "sierpień") %>
      <%= f.label(:month, "sierpień") %>
      <%= f.radio_button(:month, "wrzesień") %>
      <%= f.label(:month, "wrzesień") %>
      <%= f.radio_button(:month, "październik") %>
      <%= f.label(:month, "październik") %>
      <%= f.radio_button(:month, "listopad") %>
      <%= f.label(:month, "listopad") %>
      <%= f.radio_button(:month, "grudzień") %>
      <%= f.label(:month, "grudzień") %>

 
      
    </td>
  <tr>
    <td>
      <% f.label :stakeholder %> Podmiot
    </td>
    <td>
      <%= f.text_field :stakeholder %>
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :number_of_operations %> operacje
    </td>
    <td>
      <%= f.text_field :number_of_operations %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :scf_np %> scf_np
    </td>
    <td>
      <%= f.text_field :scf_np %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :scf_pp %> scf_pp
    </td>
    <td>
      <%= f.text_field :scf_pp %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :tow_winch %> tow_winch
    </td>
    <td>
      <%= f.text_field :tow_winch %> 
    </td>
  </tr>
   <tr>
    <td>
      <% f.label :tow_aero %> tow_aero
    </td>
    <td>
      <%= f.text_field :tow_aero %> 
    </td>
  </tr>
   <tr>
    <td></td>
    <td><%= f.submit "Zapisz" %>
    </td>
  </tr>

  </tr>






  </table>
<% end %>
