<p> <%= link_to "Wróć do wskaźników", atm_indicators_path %> </p>


<%= form_for @atm_indicator do |f| %>
<table style="font-size: 14px">
  <tr>
    <td>
      <% f.label :year %> Rok
    </td>
    <td>
      <%= f.text_field :year %>
    </td> 
  </tr>
  <tr>
    <td> Miesiąc</td>
    <td>
      <%= f.radio_button(:month, "styczeń") %>
      <%= f.label(:month, "styczeń") %>
      <%= f.radio_button(:month, "luty") %>
      <%= f.label(:month, "luty") %>
      <%= f.radio_button(:month, "marzec") %>
      <%= f.label(:month, "marzec") %>
      <%= f.radio_button(:month, "kwiecień") %>
      <%= f.label(:month, "kwiecień") %>
      <%= f.radio_button(:month, "maj") %>
      <%= f.label(:month, "maj") %>
      <%= f.radio_button(:month, "czerwiec") %>
      <%= f.label(:month, "czerwiec") %>
      
      <br>
      <%= f.radio_button(:month, "lipiec") %>
      <%= f.label(:month, "lipiec") %>
      <%= f.radio_button(:month, "sierpień") %>
      <%= f.label(:month, "sierpień") %>
      <%= f.radio_button(:month, "wrzesień") %>
      <%= f.label(:month, "wrzesień") %>
      <%= f.radio_button(:month, "październik") %>
      <%= f.label(:month, "październik") %>
      <%= f.radio_button(:month, "listopad") %>
      <%= f.label(:month, "listopad") %>
      <%= f.radio_button(:month, "grudzień") %>
      <%= f.label(:month, "grudzień") %>

 
      
    </td>
  <tr>
  <tr>
    <td>
      <% f.label :stakeholder %> Podmiot
    </td>
    <td>
      <%= f.text_field :stakeholder %>
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :safety_alt %> safety alt
    </td>
    <td>
      <%= f.text_field :safety_alt %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :level_bust %> level bust
    </td>
    <td>
      <%= f.text_field :level_bust %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :smi %> smi
    </td>
    <td>
      <%= f.text_field :smi %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :rvr_minima %> rvr minima
    </td>
    <td>
      <%= f.text_field :rvr_minima %> 
    </td>
  </tr>
   <tr>
    <td></td>
    <td><%= f.submit "Zapisz" %>
    </td>
  </tr>
  </table>
<% end %>
