<h1>welcome site</h1>

<p> <%= link_to "adr index", adr_indicators_path %> </p>
<p> <%= link_to "ops index", ops_indicators_path %> </p>
<p> <%= link_to "ato index", ato_indicators_path %> </p>
<p> <%= link_to "atm index", atm_indicators_path %> </p>
<p> <%= link_to "ahac index", ahac_indicators_path %> </p>