<h1>AHAC Indicators index</h1>

<p><%= link_to "Dodaj wskaźniki AHAC", new_ahac_indicator_path %></p>
<hr>

<% @ahac_spis.each do |spi| %>
<table style="font-size: 12px; text-align: center">
  <tr>
    <th> Rok </th>
    <th> Miesiąc </th>
    <th> Podmiot </th>
    <th> Operacje </th> 
    <th> Ogień, dym, opary </th> 
        
  </tr>  
    <tr>
      <td>  <%= spi.year %> </td>
      <td>  <%= spi.month %> </td>
      <td>  <%= spi.stakeholder %> </td>
      <td>  <%= spi.number_of_operations %> </td>
      <td>  <%= spi.fsf %> </td>
      
    </tr>  
   
</table>
<%= link_to "Pokaż szczegóły", ahac_indicator_path(spi.id) %>
<%= link_to "Edytuj", edit_ahac_indicator_path(spi.id) %>
<%= link_to "Skasuj", ahac_indicator_path(spi.id), method: :delete, data: { confirm: "Czy jestes pewien ?"} %>
<hr>
<% end %>
