<div style="font-size: 14px">
<%= form_for @adr_indicator do |f| %>
  <p>
    <% f.label :year %> Rok
    <%= f.text_field :year %>
  </p> 
  <p>
    <% f.label :month %> Miesiąc
    <%= f.text_field :month %> 
  </p> 
  <p>
    <% f.label :stakeholder %> Lotnisko
    <%= f.text_field :stakeholder %>
  </p> 
  <p>
    <% f.label :number_of_operations %> Liczba operacji
    <%= f.text_field :number_of_operations %> 
  </p> 
  <p>  
    <% f.label :rwy_incursion %> Wtargnięcia na DS
    <%= f.text_field :rwy_incursion %> 
  </p>
  <p>  
    <% f.label :twy_incursion %> Wtargnięcia na DK
    <%= f.text_field :twy_incursion %> 
  </p>
  <p>  
    <% f.label :app_incursion %> Wtargnięcia na PP
    <%= f.text_field :app_incursion %> 
  </p>
  <p>
    <% f.label :rwy_excursion %> Wypadnięcia z DS
    <%= f.text_field :rwy_excursion %> 
  </p>
  <p>
    <% f.label :twy_excursion %> Wypadnięcia z DK
    <%= f.text_field :twy_excursion %> 
  </p>
  <p>
    <% f.label :app_excursion %> Wypadnięcia z PP
    <%= f.text_field :app_excursion %> 
  </p>
  <p>
    <% f.label :fuel %> Rozlewiska paliwa
    <%= f.text_field :fuel %> 
  </p>
  <p>
    <% f.label :fsf %> Pożar, Dym, Opary
    <%= f.text_field :fsf %> 
  </p>
  <p>
    <% f.label :gcol %> Kolizje GCOL
    <%= f.text_field :gcol %> 
  </p>
  <p>
    <% f.label :ramp %> Zdarzenia RAMP
    <%= f.text_field :ramp %> 
  </p>
  <p>
    <% f.label :obstacle %> Przeszkody
    <%= f.text_field :obstacle %> 
  </p>
  <p>
    <% f.label :birdstrike %> Zderzenia z ptakami
    <%= f.text_field :birdstrike %> 
  </p>  
  <p>
    <% f.label :wildlife %> Zderzenia ze zwierzętami
    <%= f.text_field :wildlife %> 
  </p>
  <p>
    <% f.label :wild_take_abort %> Przerwany start przez zwierzęta
    <%= f.text_field :wild_take_abort %> 
  </p>
  <p>
    <% f.label :go_around %> Go Around z powodu zwierząt
    <%= f.text_field :go_around %> 
  </p>
  <p>  
    <% f.label :wildlife %> Zderzenia ze zwierzętami
    <%= f.text_field :wildlife %> 
  </p>
  <p>
    <% f.label :land_rvr %> Lądowanie poniżej RVR
    <%= f.text_field :land_rvr %> 
  </p>
  <p>
    <% f.label :take_off_rvr %> Start poniżej RVR
    <%= f.text_field :take_off_rvr %> 
  </p>
  <p>
    <% f.label :gcol_ramp_lvp %> GCOL lub RAMP przy LVP
    <%= f.text_field :gcol_ramp_lvp %>
  </p>
 <%= f.submit %>
<% end %>
</div>