<h1>edit adr_indicator</h1>

<table style="font-size: 14px">
<%= form_for @adr_spi do |f| %>
  <tr>
    <td>
      <% f.label :year %> Rok
    </td>
    <td>
      <%= f.text_field :year %>
    </td> 
  </tr>
  <tr>
    <td>
      <% f.label :month %> Miesiąc
    </td>
    <td>
      <%= f.text_field :month %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :stakeholder %> Lotnisko
    </td>
    <td>
      <%= f.text_field :stakeholder %>
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :number_of_operations %> Liczba operacji
    </td>
    <td>
      <%= f.text_field :number_of_operations %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :rwy_incursion %> Wtargnięcia na DS
    </td>
    <td>
      <%= f.text_field :rwy_incursion %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :twy_incursion %> Wtargnięcia na DK
    </td>
    <td>
      <%= f.text_field :twy_incursion %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :app_incursion %> Wtargnięcia na PP
    </td>
    <td>
      <%= f.text_field :app_incursion %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :rwy_excursion %> Wypadnięcia z DS
    </td>
    <td>
      <%= f.text_field :rwy_excursion %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :twy_excursion %> Wypadnięcia z DK
    </td>
    <td>
      <%= f.text_field :twy_excursion %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :app_excursion %> Wypadnięcia z PP
    </td>
    <td>
      <%= f.text_field :app_excursion %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :fuel %> Rozlewiska paliwa
    </td>
    <td>
      <%= f.text_field :fuel %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :fsf %> Pożar, Dym, Opary
    </td>
    <td>
      <%= f.text_field :fsf %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :gcol %> Kolizje GCOL
    </td>
    <td>
      <%= f.text_field :gcol %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :ramp %> Zdarzenia RAMP
    </td>
    <td>
      <%= f.text_field :ramp %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :obstacle %> Przeszkody
    </td>
    <td>
      <%= f.text_field :obstacle %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :birdstrike %> Zderzenia z ptakami
    </td>
    <td>
      <%= f.text_field :birdstrike %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :wildlife %> Zderzenia ze zwierzętami
    </td>
    <td>
      <%= f.text_field :wildlife %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :wild_take_abort %> Przerwany start przez zwierzęta
    </td>
    <td>
      <%= f.text_field :wild_take_abort %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :go_around %> Go Around z powodu zwierząt
    </td>
    <td>
      <%= f.text_field :go_around %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :wildlife %> Zderzenia ze zwierzętami
    </td>
    <td>
      <%= f.text_field :wildlife %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :land_rvr %> Lądowanie poniżej RVR
    </td>
    <td>
      <%= f.text_field :land_rvr %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :take_off_rvr %> Start poniżej RVR
    </td>
    <td>
      <%= f.text_field :take_off_rvr %> 
    </td>
  </tr>
  <tr>
    <td>
      <% f.label :gcol_ramp_lvp %> GCOL lub RAMP przy LVP
    </td>
    <td>
      <%= f.text_field :gcol_ramp_lvp %> 
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <%= f.submit %>
    </td>
  </tr>
<% end %>
</table>