<h1>adr indicators index</h1>



<p><%= link_to "Dodaj wskaźniki ADR", new_adr_indicator_path %></p>

<div style="font-size: 12px">
<table>
  <tr>
  <th> Rok </th>
  <th> Miesiąc </th>
  <th> Lotnisko </th>
  <th> Operacje </th> 
  <th> Wtargnięcie DS </th> 
  <th> Wtargnięcie DK </th> 
  <th> Wtargnięcie PP </th> 
  <th> Wypadnięcie DS </th> 
  <th> Wypadnięcie DK </th> 
  <th> Wypadnięcie PP </th> 
  <th> Rozlanie paliwa </th> 
  <th> Pożar, Dym, Opary </th> 
  <th> Kolizje </th> 
  <th> Ramp </th> 
  <th> Przeszkody </th> 
  <th> Zderzenia z ptakami</th> 
  <th> Dzikie zwierzęta </th> 
  <th> Przerwany start - zwierzęta </th> 
  <th> Odejście - zwierzęta </th> 
  <th> Lądowania poniżej RVR </th> 
  <th> Starty poniżej RVR </th> 
  <th> Kolizje lub RAMP podczas LVP </th> 
  </tr>
  <% @adr_spis.each do |spi| %>
    <tr>
      <td>  <%= spi.year %> </td>
      <td>  <%= spi.month %> </td>
      <td>  <%= spi.stakeholder %> </td>
      <td>  <%= spi.number_of_operations %> </td>
      <td>  <%= spi.rwy_incursion %> </td>
      <td>  <%= spi.twy_incursion %> </td>
      <td>  <%= spi.app_incursion %> </td>
      <td>  <%= spi.rwy_excursion %> </td>
      <td>  <%= spi.twy_excursion %> </td>
      <td>  <%= spi.app_excursion %> </td>
      <td>  <%= spi.fuel %> </td>
      <td>  <%= spi.fsf %> </td>
      <td>  <%= spi.gcol %> </td>
      <td>  <%= spi.ramp %> </td>
      <td>  <%= spi.obstacle %> </td>
      <td>  <%= spi.birdstrike %> </td>
      <td>  <%= spi.wildlife %> </td>
      <td>  <%= spi.wild_take_abort %> </td>
      <td>  <%= spi.go_around %> </td>
      <td>  <%= spi.land_rvr %> </td>
      <td>  <%= spi.take_off_rvr %> </td>
      <td>  <%= spi.gcol_ramp_lvp %> </td>
    </tr>
  <% end %>
</table>
</div>