<h1>show adr_indicator</h1>

<div style="font-size: 16px">
  <table>
    <tr>
      <th> Wskaźnik </th> <th> Wartość </th>
    </tr>
    <tr>
      <td>
    Rok <br>
    Miesiąc  <br>
    Lotnisko <br>
    Liczba operacji <br>
    Wtargnięcia na DS <br>
    Wtargnięcia na DK <br>
    Wtargnięcia na PP <br>
    Wypadnięcia z DS <br>
    Wypadnięcia z DK <br>
    Wypadnięcia z PP <br>
    Rozlewiska paliwa <br>
    Pożar, Dym, Opary <br>
    Kolizje GCOL <br>
    Zdarzenia RAMP <br>
    Przeszkody <br>
    Zderzenia z ptakami <br>
    Zderzenia ze zwierzętami <br>
    Przerwany start przez zwierzęta <br>
    Go Around z powodu zwierząt <br>
    Zderzenia ze zwierzętami <br>
    Lądowanie poniżej RVR <br>
    Start poniżej RVR <br>
    GCOL lub RAMP przy LVP <br>
  </td>
  <td>
    <%= @adr_indicator.year %> <br> 
<%= @adr_indicator.month %>  <br> 
<%= @adr_indicator.stakeholder %> <br> 
<%= @adr_indicator.number_of_operations %>  <br> 
<%= @adr_indicator.rwy_incursion %>  <br>
<%= @adr_indicator.twy_incursion %>  <br>
<%= @adr_indicator.app_incursion %>  <br>
<%= @adr_indicator.rwy_excursion %>  <br>
<%= @adr_indicator.twy_excursion %>  <br>
<%= @adr_indicator.app_excursion %>  <br>
<%= @adr_indicator.fuel %>  <br>
<%= @adr_indicator.fsf %>  <br>
<%= @adr_indicator.gcol %>  <br>
<%= @adr_indicator.ramp %>  <br>
<%= @adr_indicator.obstacle %>  <br>
<%= @adr_indicator.birdstrike %>  <br>  
<%= @adr_indicator.wildlife %>  <br>
<%= @adr_indicator.wild_take_abort %>  <br>
<%= @adr_indicator.go_around %>  <br>
<%= @adr_indicator.wildlife %>  <br>
<%= @adr_indicator.land_rvr %>  <br>
<%= @adr_indicator.take_off_rvr %>  <br>
<%= @adr_indicator.gcol_ramp_lvp %> <br>
  </td>
</tr>
</table>
</div>
<%= link_to "Edytuj", edit_adr_indicator_path(@adr_indicator.id) %>